<!DOCTYPE html>
{% load static %}
<html>
<head>


 <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
 <link href="{% static 'css/index_style.css' %}" rel="stylesheet">


 
</head>

<body>



  <div class="jumbotron jum">

    <div class=" navbar">
      <a href="{% url 'home' %}" style="text-decoration: none;"><h3>Phone Book <i class="far fa-address-book"></i></h3></a>

    </div>


    <div class="row">


      <div class="col-lg-4 inp">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search"  name='search'>
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        


             <!--    <h5 class="mt-2">Add New Contact</h5>

                    <input onblur="validateName()" class="form-control mb-3 mt-3" placeholder="add name" id="userName">
                    <div id="nameAlert" class="alert alert-danger text-justify p-2 ">Please add name</div>
                    <input onblur="validatePhone()" class="form-control mb-3" placeholder="add phone" id="userPhone">
                    <div id="phoneAlert" class="alert alert-danger text-justify p-2 ">Please add a valid number</div>
                    <input onblur="validateEmail()" class="form-control mb-3" placeholder="add e-mail" id="userEmail">
                    <div id="mailAlert" class="alert alert-danger text-justify p-2 ">Please add a valid e-mail</div>

                    <button onclick="addContact()" class="btn btn-info w-100 btn1">Add</button> -->

                    
                  </div>


                  <div class="col-lg-8">

                    <table id="myTable" class="table text-justify table-striped">

                      <thead class="tableh1">
                        <tr>
                          <th class="">Name</th>
                          <th class="">Phone</th>
                          <th class="">E-mail</th>  
                        </tr>

                      </thead>

                      <tbody id="tableBody">
                        {% for user in page_object %}
                        <tr>
                          <td>{{ user.name }}</td>
                          <td>{{ user.phone }}</td>
                          <td>{{ user.email }}</td>
                        </tr>
                        {% endfor %}



                      </tbody>

                    </table>
                    {% if is_paginated %}
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <li class="page-item {% if not prev_url %}disabled{% endif %}">
                              <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            {% for n in page_object.paginator.page_range %}

                            {% if page_object.number == n %}
                            <li class="page-item active"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
                            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                            {% endif %}
                            {% endfor %}
                            <li class="page-item {% if not next_url %}disabled{% endif %}">
                              <a class="page-link" href="{{ next_url }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                        {% endif %}

                  </div>



                </div>    
              </div>



              <footer class="text-center">PHONEBOOK PAGE</footer>
            </body>

            </html>













